extends layout

block content
  div
    h1= title
    div#loading
  div
    p.row
      b.three.columns Ready: &nbsp;
      span.four.columns#ready= resp.ready
    p.row
      b.three.columns Total peers: &nbsp;
      span.four.columns#totalPeers= resp.totalPeers
    p.row
      b.three.columns Connected peers: &nbsp;
      span.four.columns#connectedPeers= resp.connectedPeers.length
    p.row
      b.three.columns Current Epoch: &nbsp;
      span.four.columns#currentEpoch= resp.heart.currentEpoch
    p.row
      b.three.columns Current Cycle: &nbsp;
      span.four.columns#currentCycle= resp.heart.currentCycle
    table#nodeData
      thead
        tr
          th= "Hostname"
          th= "weight"
          th= "trusted"
          th= "seen"
      each peer in resp.connectedPeers
        tr
          td= peer.hostname
          td= peer.weight
          td= peer.isTrusted
          td= peer.seen
